{% extends 'compte_root/base.root.html.twig' %}

{% block body %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Liste des administrateurs d'assurances</h4>
                    <p class="card-category"> Informations</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                            ID Agent
                        </th>
                        <th>
                            ID Patron
                        </th>
                        <th>
                            Nom
                        </th>
                        <th>
                            Prenom
                        </th>
                        <th>
                            Date Enregistrement
                        </th>
                        <th>
                            Suivre 
                        </th>
                        <th>
                            Details 
                        </th>
                        <th>
                            Supprimer 
                        </th>
                        </thead>
                        <tbody>
                        {% for agent in agents %}
                            <tr>
                            <td>
                                {{agent.codeAdminAssureur}}
                            </td>
                            <td class="text-primary">
                                {{agent.codeAgentAssureur}}
                            </td>
                            <td>
                                {{agent.nom}}
                            </td>
                            <td>
                                {{agent.prenom}}
                            </td>
                            <td>
                                {{agent.dateRegister | date("d/m/Y H:i:s")}} à {{agent.dateRegister | date("H:i:s")}}
                            </td>
                            <td>
                                <a href="" class="btn btn-outline-dark">Discuter</a>
                            </td>
                            <td>
                                <a href="" class="btn btn-outline-dark">Détails</a>
                            </td>
                            <td>
                                <a href="{{path('rm_agent', {'codeagent': agent.codeAgentAssureur})}}" class="btn btn-outline-dark">Executer</a>
                            </td>
                        </tr>
                        {% endfor %}    
                        </tbody>
                    </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}