{% extends 'compte_root/base.root.html.twig' %}

{% block body %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Liste des administrateurs d'assurances</h4>
                    <p class="card-category"> Informations</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                            ID Admin
                        </th>
                        <th>
                            ID Assureur
                        </th>
                        <th>
                            Nom
                        </th>
                        <th>
                            Prenom
                        </th>
                        <th>
                            Nom Assureur
                        </th>
                        <th>
                            Suivre 
                        </th>
                        <th>
                            Details 
                        </th>
                        <th>
                            Supprimer 
                        </th>
                        </thead>
                        <tbody>
                        {% for admin in admins %}
                            <tr>
                            <td>
                                {{admin.codeAdminAssureur}}
                            </td>
                            <td class="text-primary">
                                {{admin.codeAssureur}}
                            </td>
                            <td>
                                {{admin.nom}}
                            </td>
                            <td>
                                {{admin.prenom}}
                            </td>
                            <td>
                                Non Disponible Actu
                            </td>
                            <td>
                                <a href="{{path('suivre_assureur', {'code': admin.codeAdminAssureur})}}" class="btn btn-outline-dark">Discuter</a>
                            </td>
                            <td>
                                <a href="" class="btn btn-outline-dark">Détails</a>
                            </td>
                            <td>
                                <a href="{{path('rm_admin', {'codeadmin': admin.codeAdminAssureur})}}" class="btn btn-outline-dark">Executer</a>
                            </td>
                        </tr>
                        {% endfor %}    
                        </tbody>
                    </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
