{% extends 'compte_root/base.root.html.twig' %}

{% block body %}
<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img" src="{{asset('dash1/assets/img/faces/marc.jpg')}}" />
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-category text-gray">Développeur Web Expert</h6>
                  <h4 class="card-title">Medi YANN MICHAEL</h4>
                  <p class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                  </p>
                  <a href="{{path('infos_root')}}" class="btn btn-primary btn-round">Modifier mes informations</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
