
{% extends 'compte_root/base.root.html.twig' %}

{% block body %}
    <div class="content">
        <div class="container-fluid">
          <div class="card">
            <div class=" card-header card-header-primary" style="text-align: center">
                <h3 class="card-title">
                    <div class="col-12 offset-col d-flex justify-content-center">
                        <form class="" action="{{path('search_root')}} " method="">

                            <input id="search" class="form-control text-light" type="text" name="search">
                            <button id="submit" class="btn btn-primary" type="submit">
                                <i class="material-icons">search</i>
                            </button>

                        </form>
                    </div>
                </h3>
                <p class="card-category">
                    
                </p>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-8 offset-md-2">
                  <h4 id="text" class="card-title"> 0 résultat</h4><br>

                  <div id="alert" class="alert alert-info" style="display : none">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="material-icons">close</i>
                    </button>
                    <span>
                      <b> Info - </b> Echec de la recherche</span>
                  </div>

                  <div id="card" class="container-fluid" style="display: none">
                    <div class="row">
                      <div class="col-md-8 offset-md-2">
                        <div class="card card-profile">
                          <div class="card-avatar">
                            <a href="#pablo">
                              <img class="img" src="{{asset('dash1/assets/img/faces/marc.jpg')}}" />
                            </a>
                          </div>
                          <div class="card-body">
                            <h6 id="statut" class="card-category text-gray">Développeur Web Expert</h6>
                            <h4 id="name" class="card-title">Medi YANN MICHAEL</h4>
                            <p id="date" class="card-description">
                              Enregistré le 12/07/2014
                            </p>
                            <a id="lien" href="" class="btn btn-primary btn-round">Modifier les informations</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{asset('jquery.min.js')}}"></script>

    <script>
         $(document).ready(function(){           

            $('#submit').click(function(e){
                e.preventDefault();

                var rep = $("#search").val();


               $.ajax({
                 url     : "{{path('search_root')}}",
                 type    : 'POST',
                 data    : {
                   'search' : rep
                 },
                 dataType: 'json',
                 async   : true,

                  success : function(data, status){
                    info = data[0];
                    if (data[0].length != 0) {
                        nb = "1 résultat";
                      

                        $('#text').text(nb);
                      $('#card').css("display", "");
                      $('#alert').css("display", "none");
                      lien = info.lien + "}}";

                      $('#name').text(info.ident);
                      $('#statut').text(info.statut);

                      if (info.statut == "Admin Assureur") {
                        $('#lien').attr("href", lien);
                      }else{
                        $('#lien').attr("href", "{{path('search_root')}}");
                      }
                      
                      $('#lien').text(info.tlien);
                      $('#date').text("Enregistré le " + info.date);


                      console.log(lien);
                      console.log(info,info.ident);
                  }else{
                    nb = "0 résultat";
                    $('#text').text(nb);

                    $('#card').css("display", "none");
                    $('#alert').css("display", "");

                    console.log("nothing");
                   }
                 },

                 error   : function(xhr, textStatus, errorThrown){
                   alert('echec');
                 }
               })
            })
        })
    </script>
{% endblock %}