{% extends "base.html.twig" %}


{% block body %}
    
<div class="container">
    <div class="col s12 m6 row offset-m" style="margin-top: 10%; overflow: auto;">
      <div class="card white darken-1 center">
        
        <div class="card-content black-text z-depth-1" style="height: auto">
            <h2 class="blue-text text-darken-4">
                Connexion
            </h2>
            
            <form class="col s12 m12 l12 z-depth-4" action="{{path('login')}}" method="post">
            <br><br>

            <div class="divider col center s12 m8 offset-m2"></div>
                <h4 class="red-text">{{ error }}</h4>
            <div class="divider col center s12 m8 offset-m2"></div>

                <div class="row">
                    <div class="input-field col s12 m10 offset-m1 l10 offset-l1 ">
                        <input name="_username" id="email" type="email" class="validate" value="{{last_username}}" required>
                        <label for="email">Votre Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m10 offset-m1 l10 offset-l1 ">
                        <input name="_password" id="password" type="password" class="validate" required>
                        <label for="password">Votre Mot de passe</label>
                    </div>
                </div>
                <div class="divider col center s12 m8 offset-m2"></div><br>
                <div class="col s12 m6 offset-m3">
                    <button class="btn waves-effect waves-light " type="submit" name="action">
                        Suite
                    </button>
                    <button class="btn waves-effect waves-light" type="reset" name="action">
                        Vider
                    </button>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="row divider col center s12 m8 offset-m2"></div>
                

         
            </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

