{% if active == 1 %}
    {% include "compte_admin_assureur/base/sidebar/1.html.twig" %}
{% elseif active == 2 %}
    {% include "compte_admin_assureur/base/sidebar/2.html.twig" %}
{% elseif active == 3 %}
    {% include "compte_admin_assureur/base/sidebar/3.html.twig" %}
{% elseif active == 4 %}
    {% include "compte_admin_assureur/base/sidebar/4.html.twig" %}
{% elseif active == 5 %}
    {% include "compte_admin_assureur/base/sidebar/5.html.twig" %}
{% elseif active == 6 %}
    {% include "compte_admin_assureur/base/sidebar/6.html.twig" %}
{% else %}
    {% include "compte_admin_assureur/base/sidebar/7.html.twig" %}
{% endif %}