<!-- Jquery Core Js -->
    <script src="{{asset('dash2/plugins/jquery/jquery.min.js')}}"></script>

    <!-- Bootstrap Core Js -->
    <script src="{{asset('dash2/plugins/bootstrap/js/bootstrap.js')}}"></script>

    <!-- Select Plugin Js -->
    <script src="{{asset('dash2/plugins/bootstrap-select/js/bootstrap-select.js')}}"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="{{asset('dash2/plugins/jquery-slimscroll/jquery.slimscroll.js')}}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{{asset('dash2/plugins/node-waves/waves.js')}}"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="{{asset('dash2/plugins/jquery-countto/jquery.countTo.js')}}"></script>

    <!-- Morris Plugin Js -->
    <script src="{{asset('dash2/plugins/raphael/raphael.min.js')}}"></script>
    <script src="{{asset('dash2/plugins/morrisjs/morris.js')}}"></script>

    <!-- ChartJs -->
    <script src="{{asset('dash2/plugins/chartjs/Chart.bundle.js')}}"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="{{asset('dash2/plugins/flot-charts/jquery.flot.js')}}"></script>
    <script src="{{asset('dash2/plugins/flot-charts/jquery.flot.resize.js')}}"></script>
    <script src="{{asset('dash2/plugins/flot-charts/jquery.flot.pie.js')}}"></script>
    <script src="{{asset('dash2/plugins/flot-charts/jquery.flot.categories.js')}}"></script>
    <script src="{{asset('dash2/plugins/flot-charts/jquery.flot.time.js')}}"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="{{asset('dash2/plugins/jquery-sparkline/jquery.sparkline.js')}}"></script>

    <!-- Custom Js -->
    <script src="{{asset('dash2/js/admin.js')}}"></script>
    <script src="{{asset('dash2/js/pages/index.js')}}"></script>

    <!-- Demo Js -->
    <script src="{{asset('dash2/js/demo.js')}}"></script>

    <!-- Bootstrap Colorpicker Js -->
    <script src="{{asset('dash2/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js')}}"></script>

    <!-- Dropzone Plugin Js -->
    <script src="{{asset('dash2/plugins/dropzone/dropzone.js')}}"></script>

    <!-- Input Mask Plugin Js -->
    <script src="{{asset('dash2/plugins/jquery-inputmask/jquery.inputmask.bundle.js')}}"></script>

    <!-- Multi Select Plugin Js -->
    <script src="{{asset('dash2/plugins/multi-select/js/jquery.multi-select.js')}}"></script>

    <!-- Jquery Spinner Plugin Js -->
    <script src="{{asset('dash2/plugins/jquery-spinner/js/jquery.spinner.js')}}"></script>

    <!-- Bootstrap Tags Input Plugin Js -->
    <script src="{{asset('dash2/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js')}}"></script>

    <!-- noUISlider Plugin Js -->
    <script src="{{asset('dash2/plugins/nouislider/nouislider.js')}}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{{asset('dash2/plugins/node-waves/waves.js')}}"></script>

    <!-- Custom Js -->
    <script src="{{asset('dash2/js/admin.js')}}"></script>
    <script src="{{asset('dash2/js/pages/forms/advanced-form-elements.js')}}"></script>

    <!-- Demo Js -->