{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="center" style="margin-top: 25%">
            <div class="col s12 m6">
            <div class="card black black-text darken-1">
                <div class="card-content ">
                    <h2 style="font-color: green">{{texte}}</h2>
                </div>
                <div class="card-action">
                    Assur And Co.
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}