{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="center" style="margin-top: 15%; margin: 10%;">
            <div class="col s12 m6">
            <div class="card white darken-1 z-depth-2">
                <div class="card-content black-text">
                <p style="font-size: 50px;">Merci pour votre adhésion</p>
                <p class="red-text">Maintenant connectez-vous</p>
                </div>
                <div class="card-action">
                    <a href="{{path('login')}}" class="waves-light waves-effect btn z-depth-2">Ok</a>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}