{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="center" style="margin-top: 15%; margin-left: 5%; margin-right: 5%;">
            <div class="col s12 m6">
            <div class="card white darken-1 z-depth-2">
                <div class="card-content black-text">
                <p style="font-size: 40px;" class="green-text">Votre Société a été enregistrée </p> 
                <p style="font-size: 40px;"  class="green-text"> avec succès</p><br> 
                <p class="red-text">Veuillez terminer votre inscription</p>
                </div>
                <div class="card-action">
                    <a href="{{path('validation', {'url': url})}}" class="waves-light waves-effect btn z-depth-2">Cliquez-ici</a>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}