{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="center">
            <div class="col s12 m6">
            <div class="card white darken-1">
                <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}