{% extends "base.html.twig" %}

{% block body %}
    <div class="container" style="background-color : aqua" >
        <div class="center" style="margin-top: 10%; margin: 10%; ">
            <div class="col s12 m10 center" style="border: 2px solid red; width: 100%;">
                <div class="card black white-text z-depth-5" style="height:; background-color: darkgrey">
                    <div class="card-content">
                        <h2> 
                            Confirmer votre inscription
                        </h2>
                        <br><br>
                        <a href="{{path('insertok', {'url': url})}}" class="waves-effect waves-light btn">
                            Cliquez-ici
                        </a>
                    </div>
                    <div class="card-action ">
                        <h4>
                            Albion Solutions
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}