{% extends "base.html.twig" %}

{% block body %}

<div id="#top"></div>
<section id="home">
  <div class="banner-container">
    <div class="container"> 
      <div class="heading text-center">
	   <div class="logo" style="margin-bottom: 80px"> <img src="{{asset('view/images/cd9de15b-e3f1-46cd-82f4-ec97d69129f8_200x200.png')}}" alr='logo'/> </div>
         </div>
      <div class="countdown styled" style="display: none"></div>
	  <div class="heading text-center">
          <h1>Salut, Bienvenue à Albion</h1>
	  <h2>Votre Plateforme de Travail Collaborative</h2> <br>
	  <div class="" style=" float : center">
		<div>
			<a href="{{path('register1_assureur')}}" class=" btn orange waves-effect waves-light">Futur Assureur</a>
			<a href="{{path('register_client')}}" class="btn green waves-effect waves-light">Futur Assuré</a><br>
			
		</div>
	  </div>
	  <div class="" style="margin-left: 35%;">
		    <a href="#services" class="col-md-5 center black-text btn waves-effect waves-light white">Continuer</a>
	  </div>
	   
	  </div>
    </div>
  </div>
</section> 
<section id="services">
	<div class="container">
	    	<div class="row">
			<div class="col-md-12">
                <div class="aligncenter" style="font-size: 40px; color: orange;"> NOS SERVICES </div>
				<br>
			</div>
		</div>
			<div class="row">
		<div class="services"> <div class="skill-home-solid clearfix"> 
		<div class="col-md-4 text-center">
		<div class="box-area waves-effect waves-dark">
		<span class="icons c1"><i class="icon-gears"></i></span>
		<h3>Plateforme</h3> <p>Lorem ipsum dolor sitamet, consec tetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident</p></div>
		</div>
		<div class="col-md-4 text-center"> 
		<div class="box-area waves-effect waves-dark">
		<span class="icons c2"><i class="icon-heart"></i></span> 
		<h3>Serveurs Cloud</h3> <p>Lorem ipsum dolor sitamet, consec tetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident</p></div>
		</div>
		<div class="col-md-4 text-center"> 
		<div class="box-area waves-effect waves-dark">
		<span class="icons c4"><i class="icon-trophy"></i></span> 
		<h3>Logiciels De Finances</h3> <p>Lorem ipsum dolor sitamet, consec tetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident</p>
		</div></div>
</div>
		</div> 
	</div>
</section>

<section id="partenaires">
	<div class="container">
	    	<div class="row">
			<div class="col-md-12">
				<div class="aligncenter" style="font-size: 40px; color: ;">NOS PARTENAIRES </div>
				<br>
			</div>
		</div>
			<div class="row">
		<div class="services"> <div class="skill-home-solid clearfix"> 
		<div class="col-md-4 text-center">
		<div class="box-area waves-effect waves-dark">
		<span class="icons c1"><i class="icon-gears"></i></span>
		<h3>APP2</h3> <p>Lorem ipsum dolor sitamet, consec tetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident</p></div>
		</div>
		<div class="col-md-4 text-center"> 
		<div class="box-area waves-effect waves-dark">
		<span class="icons c2"><i class="icon-heart"></i></span> 
		<h3>ESATIC</h3> <p>Lorem ipsum dolor sitamet, consec tetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident</p></div>
		</div>
		<div class="col-md-4 text-center"> 
		<div class="box-area waves-effect waves-dark">
		<span class="icons c4"><i class="icon-trophy"></i></span> 
		<h3>DRIT/C.I.D</h3> <p>Lorem ipsum dolor sitamet, consec tetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident</p>
		</div></div>
</div>
		</div> 
	</div>
</section>

<section id="aboutUs">
  <div class="container">
    <div class="row feature design">
      <div class="six columns right">
        <h2>Notre Compagnie</h2>
        <p>Lorem ipsum dolor sit amet, ea eum labitur scsstie percipitoleat fabulas complectitur deterruisset at pro. Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
          Nec et jority have suffered alteration. </p>
        <p>Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
          Nec et amet vidisse mentitumsstie percipitoleat fabulas. </p>
      </div>
      <div class="six columns feature-media left"> <img src="{{asset('view/images/bg1.png')}}" alt=""> </div>
    </div>
  </div>
</section>
<section id="contactUs" class="contact-parlex">
  <div class="parlex-back">
    <div class="container">
      <div class="row">
        <div class="heading text-center"> 
          <!-- Heading -->
          <h2 style="color: green; font-weight: bold;">Contactez Nous </h2>
          <p>Veuillez bien nous contacter pour des questions, si possible partenariats. Nous vous revenous dans de bref délais.</p>
        </div>
      </div>
      <div class="row mrgn30"> 
	  <div class="col-md-offset-2 col-md-8 col-sm-12">
		  <!--NOTE: Update your email Id in "contact_me.php" file in order to receive emails from your contact form-->
        
		<form name="contactForm" id="contactForm"  novalidate> 
		 <div class="input-field"> 
			<input type="text" class="form-control" id="name" required
			           data-validation-required-message="Please enter your name" />
					    <label for="name" class="">Prenom</label>
			  <p class="help-block"></p> 
  
	         </div> 	
                <div class="input-field"> 
			<input type="email" class="form-control" 
			   	            id="email" required
			   		   data-validation-required-message="Please enter your email" /> 
					     <label for="email" class="">Email</label>
			  <p class="help-block"></p> 
	    </div> 	
			  
               <div class="input-field"> 
				 <textarea rows="10" cols="100" class="form-control materialize-textarea" id="message" required
		       data-validation-required-message="Please enter your message" minlength="5" 
                       data-validation-minlength-message="Min 5 caractères" 
                        maxlength="999" style="resize:none"></textarea>
						 <label for="message" class="">Message</label> 
               </div> 		 
	     <div id="success"> </div> <!-- For success/fail messages -->
	    <button type="submit" class="btn btn-primary waves-effect waves-dark pull-right">Envoyer</button><br />
          </form>
      </div>
	  </div>
    </div>
    <!--/.container--> 
  </div>
</section>

<!--/.page-section-->
<section class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center"> Copyright 2019 | Tous droits reservés - <a href="https://geassivoire.com" target="_blank">Plateforme de travail collaborative</a> par Albion Developpement </div>
    </div>
    <!-- / .row --> 
  </div>
</section>
<a href="#top" class="topHome waves-effect waves-dark"><i class="fa fa-chevron-up fa-2x"></i></a> 

{% endblock %}