<div class="sidebar" data-color="purple" data-background-color="white" data-image="{{asset('dash1/assets/img/sidebar-1.jpg')}}">
      <div class="logo">
        <a href="{{path('home')}} " class="simple-text logo-normal">
          Assur And Co.
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" href="{{path('compte_root')}}">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{{path('gestion_assureur')}}">
              <i class="material-icons">face</i>
              <p>Gestion Assureur</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{{path('gestion_agent_root')}}">
              <i class="material-icons">content_paste</i>
              <p>Gestion Agent</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{{path('gestion_client_root')}}">
              <i class="material-icons">library_books</i>
              <p>Gestion Client</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{{path('gestion_prospect')}}">
              <i class="material-icons">bubble_chart</i>
              <p>Gestion Prospect</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{{path('notifications_root')}}">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{{path('infos_root')}}">
              <i class="material-icons">person</i>
              <p>Info Profil</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{{path('search_root')}}">
              <i class="material-icons">search</i>
              <p>Recherche Utilisateur</p>
            </a>
          </li>
          <li class="nav-item active-pro ">
            <a class="nav-link" href="{{ path('logout') }}">
              <i class="material-icons">unarchive</i>
              <p>Deconnexion</p>
            </a>
          </li>
        </ul>
      </div>
    </div>