<div class="sidebar" data-color="white" data-active-color="danger">

      <div class="logo">
        <a href="{{path('home')}}" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src="dash3/assets/img/logo-small.png">
          </div>
        </a>
        <a href="{{path('home')}}" class="simple-text logo-normal">
          Assur And Co.
          <!-- <div class="logo-image-big">
            <img src="dash3/assets/img/logo-big.png">
          </div> -->
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="active">
            <a href="{{path('compte_client')}} ">
              <i class="nc-icon nc-bank"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="{{path('listassur_client')}} ">
              <i class="nc-icon nc-diamond"></i>
              <p>Mes Assurances</p>
            </a>
          </li>
          <li>
            <a href="{{path('comparateur_client')}} ">
              <i class="nc-icon nc-chart-bar-32"></i>
              <p>Comparateur</p>
            </a>
          </li>
          <li>
            <a href="{{path('notifications_client')}} ">
              <i class="nc-icon nc-bell-55"></i>
              <p>Notifications</p>
            </a>
          </li>
          <li>
            <a href="{{path('infos_client')}} ">
              <i class="nc-icon nc-single-02"></i>
              <p>Info Profil</p>
            </a>
          </li>
          <li class="active-pro">
            <a href="{{path('logout')}} ">
              <i class="nc-icon nc-spaceship"></i>
              <p>Deconnexion</p>
            </a>
          </li>
        </ul>
      </div>
    </div>