{% extends 'compte_root/base.root.html.twig' %}

{% block body %}
<div class="content justify-content-md-center">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">LiveChat</h4>
                  <p class="card-category">Veuillez recharger si le rechargement automatique pose problème</p>
                </div>

                <div class="card-body">
                    <div id="view-chat" class="" style=" overflow: auto; width: 100%; height: 400px;">
                            
                            <div class="reponse">
                                <div id="reponse-right">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, laborum.
                                    <hr>
                                    <small><b>Envoyé le  </b></small> 
                                </div>
                            </div>
                            <div class="reponse">
                                <div id="reponse-right">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, laborum.
                                    <hr>
                                    <small><b>Envoyé le  </b></small> 
                                </div>
                            </div>
                            <div class="reponse">
                                <div id="reponse-left">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint accusamus nisi facilis eius deleniti vero.
                                    <hr>
                                    <small><b>Reçu le  </b></small> 
                                </div>
                            </div> 

                        {% for message in messages %}
                            {% if message.destinateur == destinateur %}

                            <div class="reponse">
                                <div id="reponse-right">
                                    {{message.contenu}}
                                    <hr>
                                    <small><b>Envoyé le {{message.dateregister | date('d/m/Y H:i:s')}} </b></small> 
                                </div>
                            </div>
                            {% endif %}    

                            {% if message.destinateur == destinataire %}

                            <div class="reponse">
                                <div id="reponse-left">
                                    {{message.contenu}}
                                    <hr>
                                    <small><b>Reçu le {{message.dateregister | date('d/m/Y H:i:s')}} </b></small> 
                                </div>
                            </div>
                            {% endif %}
                            
                        {% endfor %}

                    </div>
                    <div id="form-chat" style="margin-top: 2%;">
                        <form method="post" action="{{path('suivre_assureur', {'code' : code})}}">
                            <div class="row justify-content-md-center">
                                <a href="{{path('suivre_assureur', {'code' : code})}}" class="btn btn-outline-dark pull-left">LOAD</a>
                                <div class="col-md-7">
                                    <div class="form-group">
                                    <label class="bmd-label-floating">Message</label>
                                    <input name="message" type="text" class="form-control">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary pull-right">Envoyer Message</button>
                            </div>
                            
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
