
<!--[if lte IE 8]><script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script><![endif]--> 
<script src="{{asset('view/js/modernizr-latest.js')}}"></script> 
<script src="{{asset('view/js/jquery-1.8.2.min.js')}}" type="text/javascript"></script> 
<script src="{{asset('view/materialize/js/materialize.min.js')}}"></script>
<script src="{{asset('view/js/bootstrap.min.js')}}" type="text/javascript"></script> 
<script src="{{asset('view/js/jquery.nav.js')}}" type="text/javascript"></script> 
<script src="{{asset('view/js/waypoints.js')}}"></script> 
<script src="{{asset('view/js/Backstretch.js')}}" type="text/javascript"></script> 
<script src="{{asset('view/js/custom.js')}}" type="text/javascript"></script> 
<script type="text/javascript" src="{{asset('view/js/jquery.countdown.js')}}"></script> 