<!-- 
Author URI: http://webthemez.com/  
-->
<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="fr" class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!--[if lt IE 9]> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
<title>Albion : Accueil</title>
<meta name="description" content="plateforme collaborative pour assurance">
<meta name="author" content="GeekSquadDev">
<!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!--[if lte IE 8]>
		<script type="text/javascript" src="http://explorercanvas.googlecode.com/svn/trunk/excanvas.js"></script>
	<![endif]-->
	
<link rel="stylesheet" href="{{asset('view/materialize/css/materialize.min.css')}}" media="screen,projection" />
<link rel="stylesheet" href="{{asset('view/css/bootstrap.min.css')}}" />
<link rel="stylesheet" href="{{asset('view/css/animate.css')}}"  media="screen">
<link href="{{asset('view/et-line-font/style.css')}} " rel="stylesheet" />
<link rel="stylesheet" href="{{asset('view/css/styles.css')}}" />
<link href="{{(asset('view/font/css/font-awesome.min.css'))}}" rel="stylesheet">
<link href="{{(asset('view/css/index.css'))}}" rel="stylesheet">

 
	
</head>