<nav id="mainNav">
  <div id="menuToggle" class="active waves-effect waves-dark"><i class="fa fa-bars"></i></div>
  <ul class="menuLinks">
    <li class="" id="firstLink"><a href="{{path('home')}}" class="scroll-link waves-effect waves-dark">Accueil</a></li>
    <li class=""><a href="{{path('login')}}" class="scroll-link waves-effect waves-dark">Connexion</a></li>
    <li><a href="{{path('register1_assureur')}}" target="_blank" class="scroll-link waves-effect waves-dark">Entreprise</a></li>
    <li><a href="{{path('security2')}}" target="_blank" class="scroll-link waves-effect waves-dark">Client</a></li>
    <li><a href="#services" class="scroll-link waves-effect waves-dark">Nos Services</a></li>
    <li><a href="#partenaires" class="scroll-link waves-effect waves-dark">Nos Partenaires</a></li>
    <li><a href="#aboutUs" class="scroll-link waves-effect waves-dark">Parlons de Nous</a></li>
    <li><a href="#contactUs" class="scroll-link waves-effect waves-dark">Nous Contacter</a></li>
  </ul>
</nav>