<aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="{{asset('dash2/images/user.png')}}" width="48" height="48" alt="User" />
                </div>
                Assur And Co.
                <div class="info-container">
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="{{path('infos_admin')}}"><i class="material-icons">person</i>Info Profil</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{path('logout')}}"><i class="material-icons">input</i>Deconnexion</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">NAVIGATION PRINCIPALE</li>
                    <li>
                        <a href="{{path('compte_admin')}}">
                            <i class="material-icons">dashboard</i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{path('gestion_agent')}}">
                            <i class="material-icons">text_fields</i>
                            <span>Gestion Agent</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{path('gestion_client')}}">
                            <i class="material-icons">layers</i>
                            <span>Gestion Client</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{path('suivre_root')}}">
                            <i class="material-icons">widgets</i>
                            <span>Root</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{path('infos_contrat')}}">
                            <i class="material-icons">widgets</i>
                            <span>Contrat(s)</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{path('notifications_admin')}}">
                            <i class="material-icons">widgets</i>
                            <span>Notifications</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="{{path('infos_admin')}}">
                            <i class="material-icons">widgets</i>
                            <span>Info Profil</span>
                        </a>
                    </li>
                    

                    
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2019 <a href="javascript:void(0);">AdminBSB - Material Design</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.5
                </div>
            </div>
            <!-- #Footer -->
        </aside>