{% extends 'compte_agent_assureur/base.agent.html.twig' %}

{% block body %}
    <div class="content">

        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Text-Chat</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Fichiers</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active col-sm-12 col-md-12 col-lg-10" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">             
                    <div id="viewtext" class="container">
                    <!--
                        <div id="reponse-right" class="reponse">
                            <div class="text-reponse">
                               Lorem ipsum dolor sit amet, consec
                               tetur adipisicing elit. Aut unde at maxime dicta vel, optio minima iure 
                               similique autem reprehenderit? Omnis cumque consequatur impedit ab!
                            </div>
                            <hr>
                            <div class="date-reponse">
                                <p>Envoyé il y'a 2 minutes par  moi</p>
                            </div>
                        </div>
                        <div id="reponse-left" class="reponse">
                            <div class="text-reponse">
                                azerty
                            </div>
                            <hr>
                            <div class="date-reponse">
                                <p>Reçu il y'a 2 minutes</p>
                            </div> 
                        </div> -->
                        {% for message in messages %}
                            {% if message.destinateur == destinateur %}
                            <div id="reponse-right" class="reponse">
                                <div class="text-reponse">
                                    {{message.contenu}}
                                </div>
                                <hr>
                                <div class="date-reponse">
                                    <p>Envoyé le {{ message.dateregister | date('d/m/Y H:i:s') }} </p>
                                </div>
                            </div>
                            {% endif %}                              
                            {% if message.destinateur == destinataire %}
                             <div id="reponse-left" class="reponse">
                                <div class="text-reponse">
                                    {{message.contenu}}
                                </div>
                                <hr>
                                <div class="date-reponse">
                                    <p>Reçu le {{ message.dateregister | date('d/m/Y H:i:s') }} </p>
                                </div> 
                            </div>
                            {% endif %}
                                   
                                {% endfor %}
                                                   
                    </div>
                    <div id="taptext" style="border : 3px solid blue; height: px; float: bottom; height: auto; display: flex;">
                        <form class="col-12" method="post" action="{{path('suivre_client', {'codeclient' : codeclient})}}" style="border: 1px solid ">
                            <div class="input-group mb-3">
                                <input id="message" name="message" type="text" class="form-control" placeholder="Tapez votre texte" aria-label="Recipient's username" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button id="submit" class="btn btn-outline-secondary" type="submit">Envoyer</button>
                                </div>
                            </div>
                        </form>
                        <div id="emoji" class="" style="border: 1px solid red; display: flex;">
                        <!--
                            <div class="col-12">
                                <i class="nc-icon nc-satisfied large-icons"></i>
                            </div>
                        -->
                        </div>
                        
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{asset('jquery.min.js')}}"></script>

    <script>
        $(document).ready(function(){
            alert($('#message').val());
            
            $('#submit').click(function(e){
                e.preventDefault();

                var message = $('#message').val();

                if (message != "") {
                    $.ajax({
                        url : "{{path('suivre_admin')}}",
                        type: "POST",
                        data: {
                            'destinateur' : {{destinateur}},
                            'destinataire': {{destinataire}},
                            'message' : message
                        },
                        dataType: 'json',
                        async: true,
                        success: function(data, status){
                            console.log("succes");
                            console.log(data);
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            alert("echec");
                        }
                    })
                }

                
            });
        });
    </script>

{% endblock %}
