{% extends 'compte_agent_assureur/base.agent.html.twig' %}

{% block body %}
    <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Mes Assurances</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th class="text-center">
                        Code-Client
                      </th>
                      <th class="text-center">
                        Code-Offre
                      </th>
                      <th class="text-center">
                        Titre Offre
                      </th>
                      <th class="text-center">
                        Date Choix Offre
                      </th>
                      <th class="text-center">
                        Suivre Client
                      </th>
                      <th class="text-center">
                        Infos Client
                      </th>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
