{% extends 'compte_agent_assureur/base.agent.html.twig' %}

{% block body %}
    <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Mes Assurances</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th class="text-center">
                        Code-Client
                      </th>
                      <th class="text-center">
                        Code-Offre
                      </th>
                      <th class="text-center">
                        Titre Offre
                      </th>
                      <th class="text-center">
                        Date Choix Offre
                      </th>
                      <th class="text-center">
                        Suivre Client
                      </th>
                      <th class="text-center">
                        Infos Client
                      </th>
                    </thead>
                    <tbody>
                      {% for pack in packs %}
                        <tr>
                        <td class="text-center">
                          {{pack.codeclient}}
                        </td>
                        <td class="text-center">
                          {{pack.codeoffre}}
                        </td>
                        <td class="text-center">
                          {{pack.titre}}
                        </td>
                        <td class="text-center">
                          {{pack.dateregister | date("d/m/Y") }}
                        </td>
                        </td>
                        <td class="text-center">
                          <a href="{{path('suivre_client', {'codeclient' : pack.codeclient})}}">
                            <button type="button" class="btn btn-outline-success">Suivre</button>
                          </a>
                        </td>
                        <td class="text-center">
                          <a href="">
                            <button type="button" class="btn btn-outline-primary">Consulter</button>
                          </a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
