{% extends "compte_client/base.client.html.twig" %}

{% block body %}
    <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Mes Assurances</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Code-Ofrre
                      </th>
                      <th>
                        Intitulé
                      </th>
                      <th>
                        Assureur
                      </th>
                      <th class="text-center">
                        Suivre Agent
                      </th>
                      <th class="text-center">
                        Souscription Offres
                      </th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          x0123
                        </td>
                        <td>
                          Dakota Rice
                        </td>
                        <td>
                          Niger
                        </td>
                        <td class="text-center">
                          <a href="{{path('suivre_agent')}}">
                            <button type="button" class="btn btn-dark">Suivre</button>
                          </a>
                        </td>
                        <td class="text-center">
                          <a href="">
                            <button type="button" class="btn btn-outline-danger">Refuser</button>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}