{% extends "compte_client/base.client.html.twig" %}

{% block body %}
    <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Mes Assurances</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th class="text-center">
                        Code-Ofrre
                      </th>
                      <th class="text-center">
                        Intitulé
                      </th>
                      <th class="text-center">
                        Assureur
                      </th>
                      <th class="text-center">
                        Suivre Agent
                      </th>
                      <th class="text-center">
                        Desouscription
                      </th>
                    </thead>
                    <tbody>
                      {% for pack in packs %}
                        <tr>
                        <td class="text-center">
                          {{pack.codeoffre}}
                        </td>
                        <td class="text-center">
                          {{pack.titre}}
                        </td>
                        <td class="text-center">
                          {{pack.nom}}
                        </td>
                        <td class="text-center">
                          <a href="{{path('suivre_agent_assur', {'codeassur' : pack.codeassur})}}">
                            <button type="button" class="btn btn-dark">Suivre</button>
                          </a>
                        </td>
                        <td class="text-center">
                          <a href="">
                            <button type="button" class="btn btn-outline-danger">Valider</button>
                          </a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}