<!DOCTYPE html>
<html lang="fr">

{% include "compte_client/base/head.html.twig" %}

<body class="">
  <div class="wrapper ">
    
    {% include "compte_client/base/sidebar.html.twig" %}

    <div class="main-panel">
      <!-- Navbar -->
      {% include "compte_client/base/navbar.html.twig" %}
      <!-- End Navbar -->
      <!-- <div class="panel-header panel-header-lg">
  
  <canvas id="bigDashboardChart"></canvas>
  
  
</div> -->
      {% block body %}
          
      {% endblock %}
      
    {% include "compte_client/base/footer.html.twig" %}

    </div>
  </div>
  <!--   Core JS Files   -->
  {% include "compte_client/base/script.html.twig" %}
</body>

</html>