{% extends "compte_client/base.client.html.twig" %}

{% block body %}
    <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Mes Assurances</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        ID-Ofrre
                      </th>
                      <th>
                        Assureur
                      </th>
                      <th>
                        Tarif
                      </th>
                      <th class="text-center">
                        Montant de Garantie
                      </th>
                      <th class="text-center">
                        Domaine
                      </th>
                      <th class="text-center">
                        Souscription
                      </th>
                      <th class="text-center">
                        Details
                      </th>
                    </thead>
                    <tbody>
                        {% for gcontrat in gcontrats %}
                            <tr>
                        <td>
                          {{gcontrat.contrat.codeOffre}}
                        </td>
                        <td>
                          {{gcontrat.nom}} {{gcontrat.contrat.intitule}}
                        </td>
                        <td>
                          {{gcontrat.contrat.cotisation}}
                        </td>
                        <td class="text-center">
                          {{gcontrat.contrat.montantGarantie}}
                        </td>
                        <td class="text-center">
                          {{gcontrat.contrat.domaine}}
                        </td>
                        <td class="text-center">
                          <a href="{{path('souscrip_offre', {'codeoffre' : gcontrat.contrat.codeOffre })}}">
                            <button type="button" class="btn btn-outline-primary">Valider</button>
                          </a>
                        </td>
                        <td class="text-center">
                          <a href="">
                            <button type="button" class="btn btn-outline-success">Consulter</button>
                          </a>
                        </td>
                      </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}