{% extends "compte_client/base.client.html.twig" %}

{% block body %}
    <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Mes Assurances</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        ID-Ofrre
                      </th>
                      <th>
                        Assureur
                      </th>
                      <th>
                        Tarif
                      </th>
                      <th class="text-center">
                        Montant de Garantie
                      </th>
                      <th class="text-center">
                        Domaine
                      </th>
                      <th class="text-center">
                        Souscription
                      </th>
                      <th class="text-center">
                        Details
                      </th>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}