{% extends "compte_client/base.client.html.twig" %}

{% block body %}
    <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Agents Assurances</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th class="text-center">
                        Indentifiant Agent
                      </th>
                      <th class="text-center">
                        Contacter Agent
                      </th>
                    </thead>
                    <tbody>
                       {% for agent in agents %}
                         <tr>
                            <td class="text-center">
                              {{agent.codeAgentAssureur}}
                            </td>
                            <td class="text-center">
                              <a href="{{path('suivre_agent', {'codeagent' : agent.codeAgentAssureur})}}">
                                <button type="button" class="btn btn-dark">Continuer</button>
                              </a>
                            </td>
                          </tr>
                       {% endfor %}                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}