{% extends 'base.html.twig' %}

{% block body %}

<div id="body_login" class="container" style="">



<div class="row" style="margin-top: 10%; height: 50%;">
    <div class="col s12 m8 offset-m4" >
      <div class="card white darken-1" style="height: 50%;">
        <div class="card-content black-text">          
            <ul id="tabs-swipe-demo" class="tabs">
                <li class="tab col s3"><a class="active" href="#test-swipe-1">Se Connecter</a></li>
                <li class="tab col s3"><a  href="#test-swipe-2">S'Inscrire</a></li>
            </ul>

            <div id="test-swipe-1" class="col s12 grey lighten-3">
                <br>
                <br>
                <form class="col s12 m12 l12" action="{{path('login')}}" method="post">
                    <div class="row">
                    <div class="input-field col s12 m10 offset-m1 l10 offset-l1 ">
                        <input name="_username" id="email" type="email" class="validate" required>
                        <label for="email">Votre Email</label>
                    </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m10 offset-m1 l10 offset-l1 ">
                            <input name="_password" id="password" type="password" class="validate" required>
                            <label for="password">Votre Mot de passe</label>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row col s6 m6 offset-m1">
                        <button class="btn waves-effect waves-light orange darken-4" type="submit" name="action">
                            Suite
                        </button>
                        <button class="btn waves-effect waves-light orange darken-4" type="reset" name="action">
                            Vider
                        </button>
                    </div>
                </form>
            </div>
            <div id="test-swipe-2" class="col s12 grey lighten-3">
                <br>
                <br>
                <form class="col s12 m12 l12" action="{{path('register_client')}}" method="post">
                    <div class="row">
                    <div class="input-field col s12 m10 offset-m1 l10 offset-l1 ">
                        <input name="nom" id="nom" type="text" class="validate" required>
                        <label for="nom">Votre Nom</label>
                    </div>
                    </div>
                    <div class="row">
                    <div class="input-field col s12 m10 offset-m1 l10 offset-l1 ">
                        <input name="prenom" id="prenom" type="text" class="validate" required>
                        <label for="prenom">Votre/Vos Prenom(s)</label>
                    </div>
                    </div>
                    <div class="row">
                    <div class="input-field col s12 m10 offset-m1 l10 offset-l1 ">
                        <input name="phone1" id="phone1" type="number" class="validate" required>
                        <label for="phone1">Votre Contact1</label>
                    </div>
                    </div>
                    <div class="row">
                    <div class="input-field col s12 m10 offset-m1 l10 offset-l1 ">
                        <input name="phone2" id="phone2" type="number" class="validate" >
                        <label for="phone2">Votre Contact2</label>
                    </div>
                    </div>
                    <div class="row">
                    <div class="input-field col s12 m10 offset-m1 l10 offset-l1 ">
                        <input name="travail" id="travail" type="text" class="validate" required>
                        <label for="travail">Votre Profession</label>
                    </div>
                    </div>
                    <div class="row">
                    <div class="input-field col s12 m10 offset-m1 l10 offset-l1 ">
                        <input name="email" id="email" type="email" class="validate" required>
                        <label for="email">Votre Email</label>
                    </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m10 offset-m1 l10 offset-l1 ">
                            <input name="password1" id="password1" type="password" class="validate" required>
                            <label for="password1">Votre Mot de passe</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m10 offset-m1 l10 offset-l1 ">
                            <input name="password2" id="password2" type="password" class="validate" required>
                            <label for="password2">Confirmer Votre Mot de passe</label>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row col s6 m6 offset-m1">
                        <button class="btn waves-effect waves-light orange darken-4" type="submit" name="action">
                            Suite
                        </button>
                        <button class="btn waves-effect waves-light orange darken-4" type="reset" name="action">
                            Vider
                        </button>
                    </div>
                </form>
            </div>

        </div>
       
      </div>
    </div>
  </div>
          
</div>
{% endblock %}