{% extends 'base.html.twig' %}

{% block body %}
<div class="container center orange lighten-5" style="width: auto; height: auto;">
        
        <div class="row">
            <div class="col s12 m12 center" style="margin-top: 5%">
                <div class="card white">
                    <div class="row center">
                        <h2 class="black-text">
                            INFORMATIONS CLIENTS
                        </h2>
                    </div>

                    <div class="divider"></div>
                        <span style="color:red">{{error}}</span>
                    <div class="divider"></div>

                    <div class="card-content black-text">
                        <form action="{{path('register_client')}}" method="post">
                            <div class="row">
                                <div class="input-field col s12 m5">
                                    <input class="validate"  type="text" name="nom" id="nom" value="{{element.nom}}" required>
                                    <label for="nom">Nom</label>
                                </div>
                                <div class="input-field col s12 m7">
                                    <input class="validate"  type="text" name="prenom" id="prenom" value="{{element.prenom}}" required>
                                    <label for="prenom">Prenom</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m10 offset-m1">
                                    <input class="validate"  type="email" name="email" id="email" value="{{element.email}}" required>
                                    <label for="email">Email</label>
                                </div> 
                            </div>
                            <div class="row">
                                <div class="input-field s12 col m4 offset-m2">
                                    <input class="validate"  type="text" name="travail" id="travail" value="{{element.travail}}" required>
                                    <label for="travail">Profession</label>
                                </div>
                                <div class="input-field s12 col m4">
                                    <input class="validate"  type="number" name="phone1" id="phone1" value="{{element.phone1}}" required>
                                    <label for="phone1">Telephone</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m6 offset-m3">
                                    <input class="validate"  type="text" name="cni" id="cni" required>
                                    <label for="cni">Numéro de la C.N.I</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m8 offset-m2">
                                    <input class="validate"  type="password" name="password1" id="password1" required>
                                    <label for="password1">Mot de passe</label>
                                </div>                            
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m8 offset-m2">
                                    <input class="validate"  type="password" name="password2" id="password2" required>
                                    <label for="password2">Confirmation du mot de passe</label>
                                </div>
                            </div>
                            <div class="row">
                                <button type="submit" class="btn waves-effect waves-light">Suivant</button>
                                <button type="reset" class="btn waves-effect waves-light">Effacer</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-action">
                           CLIENTS
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}