<div class="container center" style="border: 2px dashed red; width: auto; height: auto;" >
    <div class="row col s12 m12 l12 center" style="margin-top: 10%;">
        <div class="card white darken-1 z-depth-2">
            <div class="card-content black-text" style="height:auto; overflow: auto;">
                <div class="row col s12 m12">
                    <div class="card red col s12 m5 z-depth-3 waves-light waves-effect">
                        <div class="card-content blue-text ">
                            <a href="{{path('register_assureur')}}">
                                <h2>
                                    INSCRIPTION
                                </h2>
                            </a>
                        </div>
                    </div>
                    <div class="card green col s12 m5 offset-m2 z-depth-3 waves-light waves-effect">
                        <div class="card-content blue-text-darken-2">
                            <a href="">
                                <h2>
                                    CONNEXION
                                </h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>