{% extends "base.html.twig" %}

{% block body %}
    <div class="container center blue lighten-5
" style="width: auto; 
    height: auto; background-image: url("{{asset('view/images/bg.jpg')}}");">
        
        <div class="row">
            <div class="col s12 m12 center" style="margin-top: 5%">
                <div class="card white">
                    <div class="row center">
                        <h2 class="black-text">
                            INFORMATIONS ADMINISTRATEUR
                        </h2>
                    </div>

                    <div class="divider"></div>
                        <span class="red-text text-darken-4">{{ error }}</span>
                    <div class="divider"></div>

                    <div class="card-content black-text">
                        <form class="" action="{{path('register1_assureur')}}" method="post">
                            <div class="row">
                                <div class="input-field col s12 m5">
                                    <input type="text" name="nom" id="nom" value="{{element.nom}}" required>
                                    <label for="nom">Nom</label>
                                </div>
                                <div class="input-field col s12 m7">
                                    <input type="text" name="prenom" id="prenom" value="{{element.prenom}}" required>
                                    <label for="prenom">Prenom</label>
                                </div>
                            </div>
                            <div class="row">
                            <div class="input-field col s12 m10 offset-m1">
                                <input type="email" name="email" id="email" value="{{element.email}}" required>
                                <label for="email">Email</label>
                            </div> 
                            </div>
                            <div class="row">
                                <div class="input-field s12 col m4 offset-m2">
                                    <input type="text" name="adresse" id="adresse" value="{{element.adresse}}" required>
                                    <label for="adresse">Adresse</label>
                                </div>
                                <div class="input-field s12 col m4">
                                    <input type="number" name="phone" id="phone" value="{{element.phone}}" required>
                                    <label for="phone">Telephone</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m6 offset-m3">
                                    <input type="text" name="cni" id="cni" value="{{element.nocni}}" required>
                                    <label for="cni">Numéro de la C.N.I</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m8 offset-m2">
                                    <input type="password" name="password1" id="password1" required>
                                    <label for="password1">Mot de passe</label>
                                </div>                            
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m8 offset-m2">
                                    <input type="password" name="password2" id="password2" required>
                                    <label for="password2">Confirmation du mot de passe</label>
                                </div>
                            </div>
                            <div class="row">
                                <button type="submit" class="btn waves-effect waves-light">Suivant</button>
                                <button type="reset" class="btn waves-effect waves-light">Effacer</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-action">
                           entreprise 
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}