{% extends "base.html.twig" %}

{% block body %}
    <div class="container center orange lighten-5 " style="border: 2px dashed red; width: auto; height: auto;">
        
        <div class="row">
            <div class="col s12 m12 center" style="margin-top: 5%">
                <div class="card white">
                    <div class="row center">
                        <h2 class="black-text">
                            INFORMATIONS SUR LA SOCIETE
                        </h2>
                    </div>

                    <div class="divider"></div>
                        <span class="black-text">
                            NB: POUR LE STATUT JURIDIQUE, VEUILLEZ TAPEZ 
                            <span class="blue-text"> SA en minuscule </span> 
                            POUR UNE SOCIETE ANONYME SINON
                            <span class="blue-text"> SAM en minuscule</span>
                            POUR UNE SOCIETE D'ASSURANCE MUTUELLE 
                        </span>    
                    <div class="divider"></div>
                        <span class="red-text text-darken-4">{{ error }}</span>
                    <div class="divider"></div>
                    <br>

                    <div class="card-content black-text">
                        <form class="" action="{{path('register2_assureur',{'code' : code} )}}" method="post">
                            <div class="row">
                                <div class="input-field col s12 m7">
                                    <input type="text" name="nom" id="nom" value="{{element.nom}}" required>
                                    <label for="nom">Nom</label>
                                </div>
                                <div class="input-field col s12 m5">
                                    <input type="text" name="statut" id="statut" value="{{element.statut}}" required>
                                    <label for="statut">Statut Juridique</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m10 offset-m1">
                                    <input type="email" name="email" id="email" value="{{element.email}}" required>
                                    <label for="email">Email Professionel</label>
                                </div> 
                            </div>
                            <div class="row">
                                <div class="input-field s12 col m4 offset-m2">
                                    <input type="text" name="adresse" id="adresse" value="{{element.adresse}}" required>
                                    <label for="adresse">Adresse</label>
                                </div>
                                <div class="input-field s12 col m4">
                                    <input type="number" name="gsm" id="gsm" value="{{element.gsm}}" required>
                                    <label for="gsm">Télephone</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m6 offset-m3">
                                    <input type="text" name="imma" id="imma" value="{{element.imma}}" required>
                                    <label for="imma">Immatriculation Registre de Commerce</label>
                                </div>
                            </div>
                            <div class="row">
                                <button type="submit" class="btn waves-effect waves-light">Suivant</button>
                                <button type="reset" class="btn waves-effect waves-light">Effacer</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-action">
                           entreprise 
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}