{% extends 'compte_admin_assureur/base.admin.html.twig' %}

{% block body %}
    <section class="content">
        <nav class="navbar navbar-expand-lg " color-on-scroll="500">
            <div class="container-fluid row">
            </div>
        </nav>
        <br><br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-md-12">
                    <div class="card strpied-tabled-with-hover">
                        <div class="card-header ">
                            <h2 class="card-title text-center">Formulaire De Création des Contrats</h2>
                            <p class="card-category text-center">Détails et disponiblité visibles</p>
                        </div>
                        <br>
                        <div class="card-body table-full-width table-responsive">
                            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="header">
                            <h2>
                                CREATION CONTRAT
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action 1</a></li>
                                        <li><a href="javascript:void(0);">Action 2</a></li>
                                        <li><a href="javascript:void(0);">Action 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <form method="post" action="{{path('newoffre')}}" class="form-horizontal">
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="nom">INTITULE</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" name="intitule" id="intitule" class="form-control" placeholder="ceci sera affiché sur la fiche contrat">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="prenom">DOMAINE</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" name="domaine" id="domaine" class="form-control" placeholder="un seul seulement">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                                        <button type="submit" class="btn btn-primary m-t-15 waves-effect">ENREGISTRER</button>
                                        <button type="reset" class="btn btn-primary m-t-15 waves-effect">EFFACER</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                </div>
            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}