{% include "base/base.head.html.twig" %}

<body>
{% include "base/base.navbar.html.twig" %}
<!--/.header-->


{% block body %}{% endblock %}



{% include "base/base.script.html.twig" %}
</body>
</html>
