{% if active == 1 %}
    {% include "compte_client/base/sidebar/1.html.twig" %}
{% elseif active == 2 %}
    {% include "compte_client/base/sidebar/2.html.twig" %}
{% elseif active == 3 %}
    {% include "compte_client/base/sidebar/3.html.twig" %}
{% elseif active == 4 %}
    {% include "compte_client/base/sidebar/4.html.twig" %}
{% else %}
    {% include "compte_client/base/sidebar/5.html.twig" %}
{% endif %}