<!DOCTYPE html>
<html>

{% include  "compte_admin_assureur/base/head.html.twig" %}

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    

    {% include  "compte_admin_assureur/base/navbar.html.twig" %}

    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        {% include  "compte_admin_assureur/base/leftsidebar.html.twig" %}
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
       
        {% include  "compte_admin_assureur/base/rightsidebar.html.twig" %}
        <!-- #END# Right Sidebar -->
    </section>

    {% block body %}
        
    {% endblock %}

    {% include "compte_admin_assureur/base/script.html.twig" %}

</body>

</html>
