{% extends 'compte_admin_assureur/base.admin.html.twig' %}

{% block body %}
    <section class="content">
        <nav class="navbar navbar-expand-lg " color-on-scroll="500">
            <div class="container-fluid row">
                <a class="navbar-brand" href="{{path('gestion_client')}}"> Gestion Des Clients </a>
                <a  class="navbar-brand" href="{{path('newoffre')}}" >
                    <button class="btn btn-outline-primary" type="button">Creer Nouveau Contrat</button>
                </a>
                
            </div>
        </nav>
        <br><br>
        <div class="container-fluid">
            <div class="row center">
                <div class="col-sm-12 col-md-12">
                    <div class="card strpied-tabled-with-hover">
                        <div class="card-header ">
                            <h2 class="card-title text-center">Liste des clients</h2>
                            <p class="card-category text-center">Détails et disponiblité visibles</p>
                        </div>
                        <br>
                        <div class="card-body table-full-width table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <th>ID Offre</th>
                                    <th>Intitule</th>
                                    <th>Date Ajout</th>                                    
                                    <th>Détails</th>
                                    <th>Modifier</th>
                                    <th>Supprimer</th>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}