{% extends 'compte_admin_assureur/base.admin.html.twig' %}

{% block body %}
    <section class="content">
        <nav class="navbar navbar-expand-lg " color-on-scroll="500">
            <div class="container-fluid row">
                <a class="navbar-brand" href="{{path('gestion_agent')}}"> Gestion Des Agents </a>
                <a  class="navbar-brand" href="{{path('newagent')}}" >
                    <button class="btn btn-outline-primary" type="button">Ajouter Nouvel Agent</button>
                </a>
            </div>
        </nav>
        <br><br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-md-12">
                    <div class="card strpied-tabled-with-hover">
                        <div class="card-header ">
                            <h2 class="card-title text-center">Liste des agents assureurs</h2>
                            <p class="card-category text-center">Détails et disponiblité visibles</p>
                        </div>
                        <br>
                        <div class="card-body table-full-width table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <th>ID-Agent</th>
                                    <th>Nom et Prenoms</th>
                                    <th>Etat Disponible</th>
                                    <th>Détails</th>
                                    <th>Modifier Informations</th>
                                    <th>Supprimer Agent</th>
                                </thead>
                                <tbody>
                                    {% for agent in agents %}
                                    <tr>
                                        <td>{{agent.codeAgentAssureur}}</td>
                                        <td>{{agent.nom}} {{agent.prenom}}</td>
                                        <td>
                                            <a href="{{path('livechat1', {'code':agent.codeAgentAssureur})}}">
                                                <button class="btn btn-outline-dark">
                                                    Discuter
                                                </button>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="">
                                                <button class="btn btn-outline-dark">
                                                    Consulter
                                                </button>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="">
                                                <button class="btn btn-outline-dark">
                                                    Continuer
                                                </button>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="">
                                                <button class="btn btn-danger">
                                                    Executer
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}