{% extends 'compte_admin_assureur/base.admin.html.twig' %}

{% block body %}
    <section class="content">
        <nav class="navbar navbar-expand-lg " color-on-scroll="500">
            <div class="container-fluid row">
                <a class="navbar-brand" href="{{path('gestion_client')}}"> Gestion Des Clients </a>
            </div>
        </nav>
        <br><br>
        <div class="container-fluid">
            <div class="row center">
                <div class="col-sm-12 col-md-12">
                    <div class="card strpied-tabled-with-hover">
                        <div class="card-header ">
                            <h2 class="card-title text-center">Liste des clients</h2>
                            <p class="card-category text-center">Détails et disponiblité visibles</p>
                        </div>
                        <br>
                        <div class="card-body table-full-width table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <th>ID Client</th>
                                    <th>ID Offre</th>
                                    <th>Nom et Prenoms</th>
                                    <th>Etat Disponible</th>
                                    <th>Détails</th>
                                    <th>Supprimer Client</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>x0123</td>
                                        <td>Dakota Rice</td>
                                        <td>OUI</td>
                                        <td>
                                            <a href="">
                                                <button class="btn btn-primary">
                                                    Consulter
                                                </button>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="">
                                                <button class="btn btn-danger">
                                                    Executer
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}