{% extends 'compte_admin_assureur/base.admin.html.twig' %}

{% block body %}
    <section class="content">
        <div class="container-fluid">
            <!-- Changelogs -->
            <div class="block-header">
                <h2>NOTIFICATIONS</h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                NOTIFICATION 1
                                <small>30th October 2018</small>
                            </h2>
                        </div>
                        <div class="body">
                            <p>- Profile page created</p>
                            <br>
                            <div class="row">                               
                                <a class="btn" href="{{path('notifications_admin')}}" >
                                    <button type="button" class="btn btn-outline-dark btn-lg">
                                        Action
                                    </button>
                                </a>
                                <a class="btn" href="{{path('notifications_admin')}}" >
                                    <button type="button" class="btn  btn-lg bg-red">
                                        Action
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}