{% extends 'compte_admin_assureur/base.admin.html.twig' %}

{% block body %}
    <section class="content">
        <nav class="navbar navbar-expand-lg " color-on-scroll="500">
            <div class="container-fluid row">
                <a class="navbar-brand" href="{{path('gestion_agent')}}"> Gestion Des Agents </a>
                </a>
            </div>
        </nav>
        <br><br>
        <div class="container-fluid">
            <div class="row">
                 <div class="col-xs-12 col-sm-9">
                    <div class="card">
                        <div class="body">
                            <div>
                                <ul class="nav nav-tabs" role="tablist">
                                <!--    <li role="presentation" class="active"><a href="#chatbox" 
                                aria-controls="settings" role="tab" data-toggle="tab" aria-expanded="false">Profile Settings</a></li> -->
                                    <li role="presentation" class=""><a href="#chatbox" aria-controls="settings" role="tab" data-toggle="tab" aria-expanded="false">LiveChat</a></li>
                                </ul>

                        <!--        <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active in" id="filebox">

                                        <div class="panel panel-default panel-post">
                                            <div class="panel-heading">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <a href="#">
                                                            <img src="../../images/user-lg.jpg">
                                                        </a>
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="media-heading">
                                                            <a href="#">Marc K. Hammond</a>
                                                        </h4>
                                                        Shared publicly - 01 Oct 2018
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="post">
                                                    <div class="post-heading">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                    </div>
                                                    <div class="post-content">
                                                        <iframe width="100%" height="360" src="https://www.youtube.com/embed/10r9ozshGVE" frameborder="0" allowfullscreen=""></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-footer">

                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" placeholder="Type a comment">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
        <div role="tabpanel" class="tab-pane fade" id="chatbox">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card" style="700px">
                        <div class="header">
                            <h2>
                                LiveChat
                                <small>Session en cours de demarrage</small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action 1</a></li>
                                        <li><a href="javascript:void(0);">Action 2</a></li>
                                        <li><a href="javascript:void(0);">Action 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div id="chat-aff" style="overflow:auto;border: 1px solid rgb(199, 199, 199) ; margin-bottom: 35px; height: 400px;">
                                {% for message in messages %}
                                    {% if message.destinateur == destinateur %}

                                            <div id="reponse-right" class="" >
                                                {{ message.contenu }}
                                                <hr>
                                                envoyé le {{ message.dateregister | date('d/m/Y H:i:s') }}
                                            </div>
                                            <br><br><br><br>
                                    {% endif %}                              
                                    {% if message.destinateur == destinataire %}
                                    
                                            <div id="reponse-left" class="" >
                                                {{ message.contenu }}
                                                <hr>
                                                reçu le {{ message.dateregister | date('d/m/Y H:i:s') }}
                                            </div>
                                            <br><br><br><br>
                                    {% endif %}
                                   
                                {% endfor %}
                            </div
                            <div class="body">
                                <div id="chat-rep" style=" margin-bottom: 0px; height: 50px;">
                                <form method="post" action="{{path('suivre_root')}}">
                                    <div class="row clearfix">
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                            <a id="send" href="{{path('suivre_root')}}" class="btn btn-outline btn-lg m-l-15 waves-effect">LOAD</a>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input name="message" type="text" id="message" class="form-control">
                                                    <label class="form-label">Message</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                            <button id="send" type="submit" class="btn btn-primary btn-lg m-l-15 waves-effect">ENVOYER</button>
                                        </div>
                                    </div>
                                </form>
                                </div
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{asset('jquery.min.js')}}"></script>

    <script>
        $(document).ready(function(){
            $('#send').click(function(e){
                e.preventDefault();

                message = $('#message').val();

                if (message != "") {
                    $.ajax({
                        url : "{{path('livechat1')}}",
                        type: "POST",
                        data: {
                            'destinateur' : {{destinateur}},
                            'destinataire': {{destinataire}},
                            'message' : message
                        },
                        dataType: 'json',
                        async: true,
                        success: function(data, status){
                            console.log("succes");
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            console.log("echec");
                        }
                    })
                }else{
                    alert("Desole chmamp vide");
                }

                
            });
        })
    </script>

{% endblock %}