#reponse-right{
    max-width: 50%;
    height: auto;
    padding: 2%;
    float: right;
    background-color: rgb(199, 199, 199);
    margin-right: 2%;
    margin-left: 50%;
    margin-top: 5%;
    border-radius: 15px 0px 15px 15px;
    border: 2px solid orange;
}

#reponse-left{
    max-width: 50%;
    height: auto;
    padding: 2%;
    float: left;
    background-color: rgb(199, 199, 199);
    margin-left: 2%;
    margin-right: 50%;
    margin-top: 5%;
    border-radius: 0px 15px 15px 15px;
    border: 2px solid green;
}

.line-texto{
    border: 3px solid orange;
    max-width: 100%;
    height: auto;
    padding: 2%;
}